@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  height: 100%; /* Ensures the body and html take the full height */
  overflow-x: hidden; /* Prevent horizontal overflow */
}



#moon-container {
      margin-bottom:20%;
      position: relative; /* Keep it relative for proper flow */
      top: auto; /* Reset any top positioning */
  }
